annotated-types==0.7.0
asgiref==3.10.0
attrs==25.4.0
audioop-lts==0.2.2
autobahn==25.10.2
automat==25.4.16
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
channels==4.3.1
channels-redis==4.3.0
charset-normalizer==3.4.4
click==8.1.8
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
django==5.2.7
django-channels==0.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.42.1
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.71.0
grpcio==1.76.0
grpcio-status==1.71.2
gtts==2.5.4
httplib2==0.31.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
msgpack==1.1.2
oauthlib==3.3.1
pip==25.3
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
pydantic==2.12.3
pydantic-core==2.41.4
pydub==0.25.1
pyopenssl==25.3.0
pyparsing==3.2.5
redis==7.0.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
speechrecognition==3.14.3
sqlparse==0.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.1
twisted==25.5.0
txaio==25.9.2
typing-extensions==4.15.0
typing-inspection==0.4.2
uritemplate==4.2.0
urllib3==2.5.0
zope-interface==8.0.1
